@{@model IEnumerable<ProductDAL.Entity.Product.Product>

    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>ASP.NET Task For BeApps</h1>
    <p class="lead">By Ammar Saad.</p>
    @if (User.IsInRole("Admin"))
    {
    <p><pre class="btn btn-primary btn-lg">Welcome Admin , you can manage product while others can't... &raquo;</pre></p>
    }
</div>

<div class="main">
    <ul class="cards">
        @foreach (var item in Model)
        {
            <li class="cards_item">
                <div class="card">
                    <div class="card_image"><img height="200" src="@item.ImageUrl"></div>
                    <div class="card_content">
                        <h2 class="card_title">@item.Name</h2>
                        <p class="card_text">@item.Description</p>
                        <p class="btn card_btn">@item.Price $</p>
                    </div>
                </div>
            </li>

        }
    </ul>
</div>

@Styles.Render("~/Content/ProductsGrid.css")